<?xml version="1.0" ?>
<!--
/**
 * @copyright Copyright (c)
 *
 * @see PROJECT_LICENSE.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="products" frontName="products">
            <module name="Vct_ProductUpload"/>
        </route>
    </router>
</config>
